{% extends '::layout.html.twig' %}

{% block title %}
    Blad
{% endblock %}

{% block contents %}
<div class="row">
    <div class="col-sm-12" >
        <table class="table table-hover">

Przepraszamy... Strona o podanym aresie nie istnieje.<br>
Bład {{ status_code }}

    </table>

    <ul>
        <li>
            <a href="{{ path('questions_new') }}">Create a new entry</a>
        </li>
    </ul>
    </div>
    </div>
{% endblock %}
