{% extends '::layout.html.twig' %}

{% block title %}
    Wszystkie pytania
{% endblock %}

{% block contents %}
    <h1>answers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Answertext</th>
                <th>Correctanswer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td><a href="{{ path('answers_show', { 'id': answer.id }) }}">{{ answer.id }}</a></td>
                <td>{{ answer.answerText }}</td>
                <td>{% if answer.correctAnswer %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('answers_show', { 'id': answer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('answers_edit', { 'id': answer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('answers_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
