{% extends '::layout.html.twig' %}

{% block title %}
    Wszystkie pytania
{% endblock %}

{% block contents %}
    <h1>answers creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('answers_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
