{% extends '::layout.html.twig' %}

{% block title %}
    Wszystkie pytania
{% endblock %}

{% block contents %}
    <h1>answers</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Answertext</th>
                <td>{{ answer.answerText }}</td>
            </tr>
            <tr>
                <th>Correctanswer</th>
                <td>{% if answer.correctAnswer %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('answers_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('answers_edit', { 'id': answer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
