{% extends '::layout.html.twig' %}

{% block title %}
    Informacje o systemie
{% endblock %}

{% block contents %}
    <p>Simple quiz system. Enables the display of questions and answers, edit and delete them. You can create a quiz with the questions</p>
{% endblock %}
