{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>Online quiz system</h1>
        <p>To become better</p>
    </div>
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">QUIZ.COM</a>
                </div>
                <div>
                    {%
                    set mainMenu = [
                        {'path':'info','name':'Info'},
                        {'path':'questions_pagination','name':'Questions'},
                        {'path':'answers_index','name':'Answers'},
                        {'path':'new_quiz','name':'New quiz'},
                        {'path':'fos_user_security_login','name':'Login'},
                        {'path':'fos_user_registration_register','name':'Rejestracja'}
                    ]
                    %}
                    <ul class="nav navbar-nav">
                        {% for item in mainMenu %}

                            <li {{ app.request.get('_route') == item['path'] ? 'class="active"' : '' }}><a href="{{ path(item['path']) }}">{{ item['name'] }}</a></li>
                        {% endfor %}
                        {#<li class="active"><a href="{{ path('info') }}">Info</a></li>#}
                        {#<li ><a href="{{ path('new_quiz') }}">Nowy quiz</a></li>#}
                        {#<li><a href="{{ path('questions_pagination') }}">Pytania</a></li>#}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <section>
        {% block contents %}{% endblock %}
    </section>

    <div class="row">
        <div class="col-sm-12 footer" >

            <p>Copyright 2015 REJKI</p>

        </div>
    </div>
{% endblock %}
