{% extends '::layout.html.twig' %}

{% block title %}
    Wszystkie pytania
{% endblock %}

{% block contents %}

    <h4>Pytanie ID:{{ question.id }}</h4>
    <a href="{{ path('questions_pagination') }}">List all questions</a>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    {{ form_row(edit_form.questionName) }}
    {{ form_row(edit_form.questionText) }}
    {{ form_row(edit_form.isMany) }}
    {{ form_row(edit_form.level) }}
    {{ form_row(edit_form.isActive) }}
    {{ form_row(edit_form.isMany) }}
    {{ form_row(edit_form.answers) }}

    <input type="submit" value="Edytuj">
    {{ form_end(edit_form) }}
    <hr>
    <h5>Delete answers</h5>
    {% for answer in question.answers %}
        <li>
            {{ answer.answerText}}
            <a href="{{ path('answers_delete',{ 'id': answer.id }) }}">Delete</a>
        </li>
    {% endfor %}
    <hr>
   <h4>Add new answer to question "{{ question.questionName }}"<br></h4>

    {{ form_start(add_Answer_form) }}
    {{ form_widget(add_Answer_form) }}
    <input type="submit" value="Add answer" />
    {{ form_end(add_Answer_form) }}





{% endblock %}
