{% extends '::layout.html.twig' %}
{% block title %}Dodaj nowe pytanie{% endblock %}
{% block contents %}

    <h4>Add new question</h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('questions_pagination') }}">Back</a>
        </li>
    </ul>
{% endblock %}
