{% extends '::layout.html.twig' %}

{% block title %}
    Wszystkie pytania
{% endblock %}

{% block contents %}

    <div class="count">
        <h4>  Total questions:  {{ pagination.getTotalItemCount }} </h4>
    </div>
    <table class="table table-hover">
            <tr>
             <th>Id</th>
             <th>Questiontext</th>
            </tr>
        <div class="container alert">
            {% for type, messages in app.session.flashBag.all() %}
                {% for msg in messages %}
                    <div class="alert alert-{{type}}">{{ msg }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ article.id }}</td>
                <td>{{ article.questionText }}</td>
                <td>
                    <a href="{{ path('questions_show', { 'id': article.id }) }}"><button class="btn btn-info" >Show</button></a>
                    <a href="{{ path('questions_edit', { 'id': article.id }) }}"><button class="btn btn-success" >Edit</button></a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td> <td></td> <td><a href="{{ path('questions_new') }}"><button class="btn btn-primary" >Add question</button></a></td>
        </tr>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
