{% extends '::layout.html.twig' %}

{% block title %}
    Szczegóły pytania
{% endblock %}

{% block contents %}
    <h4>Details questions</h4>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Nazwa pytania</th>
                <td>{{ question.questionName}}</td>
            </tr>
            <tr>
                <th>Treść pytania</th>
                <td>{{ question.questionText }}</td>
            </tr>
            <tr>
                <th> Wielokrotnego wyboru</th>
                {% if question.isMany == false %}
                <td>nie</td>
                {% elseif question.level == true %}
                    <td>tak</td>
                {% endif %}
            </tr>
            <tr>
                <th>Poziom</th>
                {% if question.level == 1 %}
                    <td>podstawowy</td>
                {% elseif question.level == 2 %}
                    <td>zaawansowany</td>
                {% elseif question.level == 3 %}
                    <td>expert</td>
                {% endif %}
            </tr>
            <tr>
                <th>Odp</th>
                <td>
                    {% for answer in question.answers %}
                        <li>
                            {{ answer.answerText}}
                        </li>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><a href="{{ path('questions_pagination') }}"><button class="btn btn-primary" >Back</button></a></td>
                <td><a href="{{ path('questions_edit', { 'id': question.id }) }}"><button class="btn btn-success" >Edit</button></a></td>
                <td> {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
