{% extends '::layout.html.twig' %}
{% block title %}Nowy quiz{% endblock %}
{% block contents %}


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('questions_pagination') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
