{#proba dla doctrine paginator#}

{% extends '::layout.html.twig' %}

{% block title %}
    Nowy quiz
{% endblock %}

{% block contents %}
<div class="row">
    <div class="col-sm-12" >
        <table class="table table-hover">
        {% if iloscZform > questions|length  %}
            Number of questions in the database is too small to test. With this level are available {{ questions|length }} questions.
            <a href="{{ path('new_quiz') }}">Try again</a>
        {% endif %}
    </table>
    </div>
</div>
{% endblock %}
