{#proba dla doctrine paginator#}

{% extends '::layout.html.twig' %}

{% block title %}
    One question
{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-sm-12" >
                Treść pytania : {{ question.questionText }}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
    </div>
    </div>
{% endblock %}
