{#proba dla doctrine paginator#}

{% extends '::layout.html.twig' %}

{% block title %}
    Wyniki
{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-sm-12" >
            <table class="table table-hover">
                Total questions : {{ quizQuestions|length }}<br>

                Total good answers: {{ iloscGoodAnswer }}<br>

                {% set  score = ((iloscGoodAnswer/quizQuestions|length)*100) %}

                Score: {{ score|number_format }} %<br>

                {% if score > 60 %}
                    Congratulations
                {% else %}
                    Try again
                {% endif %}

                <br> Pytania w quizie :<br>
                {% for quizQuestion in quizQuestions %}

                        {% if quizQuestion.selectedAnswer == quizQuestion.goodAnswer%}
                            <tr><h4 class="text-success">{{ quizQuestion.question.questionText }}</h4></tr>
                        {% else %}
                            <tr><h4>{{ quizQuestion.question.questionText }}</h4></tr>
                        {% endif %}

                        {% for answer in quizQuestion.question.answers %}
                            {% if 1 == answer.correctAnswer %}
                                <p class="text-success"> {{ answer.answerText }}<br></p>
                                {% elseif quizQuestion.selectedAnswer == answer.id  %}
                                    <p class="text-danger"> {{ answer.answerText }}<br></p>
                            {% else %}
                                <tr>{{ answer.answerText }} <br></tr>
                            {% endif %}

                        {% endfor %}

                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
